body {
    background-color: rgb(61, 71, 78);
}

h1 {
    color: rgb(255, 255, 255);
    font: bold;
}

h2 {
    color: white;
}

h5 {
    color: white;
}

p {
    text-align: center;
    width: 50%;
}

.CenterDiv {
    display: flex;
    justify-content: center; 
}

.Divider {
    width: 50%;
    height: .25vh;
    border-radius: 50%;
    background: linear-gradient(to right, 
    rgba(0, 0, 0, 0), 
    rgba(0, 0, 0, 0.25), 
    rgba(0, 0, 0, 0));
}

#filter-sort-controls {
    display: flex;
    justify-content: center; /* This will center the child elements horizontally */
    padding: 10px;
    background-color: #2a2f37; /* Or any other color that fits your design */
}

#filter-sort-inner {
    width: 20%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-box {
    padding: 8px 12px;
    margin: 10px 0;
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    background-color: #333; /* Same as your toggle buttons */
    color: white; /* Text color */
    font-size: 16px; /* Adjust to match your design */
    outline: none; /* Remove the outline to match the toggle buttons style */
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    width: calc(100% - 24px); /* Adjust width considering padding */
}

#search-box::placeholder {
    color: #aaa; /* Placeholder text color */
}

#search-box:focus {
    background-color: #4a90e2; /* Background color when focused */
    box-shadow: 0 0 0 2px #4a90e2; /* Glowing effect when focused */
}

#variant-filters {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

#variant-filters label {
    display: inline-block;
    padding: 8px 12px;
    margin-right: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #333; /* Default background */
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  #variant-filters input[type="checkbox"] {
    display: none; /* Hide the actual checkbox */
  }
  
  #variant-filters input[type="checkbox"]:checked + label {
    background-color: #4a90e2; /* Change background when active/selected */
    color: #fff; /* You can change the text color if needed */
    border-radius: 4px; /* Rounded corners for the appearance */
  }
  
  /* Hover effect for labels */
  #variant-filters label:hover {
    background-color: #555; /* Darken label on hover */
  }
  

/* If you want to style checkboxes further, consider custom CSS or a library like FontAwesome for icons */


.ItemHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1%;
    width: 98%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3vh;
}

.Item {
    min-width: 135px;
    justify-content: center;
    box-sizing: border-box;
    aspect-ratio: 1 / 1.5;
    width: 10%; 
    color: rgb(255, 255, 255);
    background-color: rgb(150, 150, 150);
    border: .3vw solid rgb(66, 66, 66);
    border-style:solid;
    margin: .3%;
    cursor: pointer;
    border-radius: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* Smooth transition for click effect */
    background: linear-gradient(to bottom right, rgb(175, 175, 175), rgb(122, 122, 122));
}

.ImageDiv {
    position: relative; /* Add relative positioning */
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    width: 80%;
    margin: 10%;
    background-color: rgb(135, 135, 135);
    background: radial-gradient(circle, rgba(153, 153, 153, 0.5), rgb(135, 135, 135) 70%);
}

.Image {
    width: 100%;
    height: 100%;
}

.rainbow-overlay {
    position: absolute; /* Position the overlay absolutely within the .ImageDiv */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/rainbow.png');
    background-size: cover;
    opacity: .75;
}


.FlexDiv {
    display: flex;
    justify-content: center;
}

.stats-container {
    align-self: flex-start;
    background-color: rgb(167, 167, 167);
    border-bottom-right-radius: 11%;
    border-bottom-left-radius: 11%;
    padding: 10px; /* Adjust padding if necessary */
    color: #ffffff; /* White text color */
    width: 100%; /* Width of the container */
    height: auto; /* Adjust height to 'auto' if you want it to contain all the content */
    box-shadow: 0px 0px 3vh rgba(71, 71, 71, 0.5);
    background: linear-gradient(to bottom, rgb(116, 116, 116), rgb(156, 156, 156));
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.title {
    text-align: center; /* Center the title */
    font-size: 16px; /* Size of the title text */
    margin-bottom: 10px; /* Spacing after the title */
    white-space: nowrap; /* Keep the title in a single line */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis at the end if the title is too long */
}

.stat-row {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between the stat name and value */
}

.stat-name, .stat-value {
    flex-basis: 50%; /* Each takes half the width */
    text-align: left; /* Align the text to the left */
}

.stat-value {
    text-align: right; /* Align the value text to the right */
}

.Item:hover {
    background-color: rgb(160, 160, 160);
    border-color: rgb(200,200,200);
    box-shadow: 0px 0px 3vh rgba(255, 255, 255, 0.5);
}

.Item:active {
    transform: scale(0.96); /* Slightly scale down the item */
    box-shadow: 0px 0px 3vh rgb(0, 0, 0);

}